.path-setting-box {
    min-width: 1800px;
    max-width: 2400px;
    margin: 200px auto;
}

.btn-box {
    margin-bottom: 50px;
}

.dialog-footer {
    .btn-box {
        display: flex;
        justify-content: flex-end;
        /*width: 400px;*/
        /*flex-direction: row-reverse;*/
    }
}

.path-item {
    display: flex;
    justify-content: space-between;
    line-height: 80px;

    .path-item-btn {
        height: 20px;
    }

}
