{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 160,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": false,
	"vueIndentScriptAndStyle": false,
	"htmlFormatContent": true,
	"htmlFormatAttributes": true,
	"htmlMaxAttributesPerLine": 5,
	"vueTemplateScriptPrettierOptions": {
		"arrowParens": "avoid"
	}
}