<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= VITE_APP_TITLE %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but SManga doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- 引入Vue应用入口文件 -->
    <script type="module" src="/src/main.ts"></script>
    <!-- CDN引入第三方库，仅在生产环境使用 -->
    <% if (!isDevelopment) { %>
    <!-- Element Plus -->
    <link href="//cdn.jsdelivr.net/npm/element-plus@2.7.3/dist/index.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/element-plus@2.7.3/dist/index.full.min.js"></script>
    <!-- ECharts -->
    <script src="//cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <% } %>
  </body>
</html>
