<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= VITE_APP_TITLE %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but SManga doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- 引入Vue应用入口文件 -->
    <script type="module" src="/src/main.ts"></script>
    <!-- CDN引入第三方库，仅在生产环境使用 -->
    <% if (!isDevelopment) { %>
    <!-- Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.prod.js"></script>
    <!-- Vue Router -->
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.0.0/dist/vue-router.global.prod.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.3.4/dist/axios.min.js"></script>
    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <!-- Pinia -->
    <script src="https://cdn.jsdelivr.net/npm/pinia@2.1.7/dist/pinia.iife.prod.js"></script>
    <!-- Vue I18n -->
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.3.0/dist/vue-i18n.global.prod.js"></script>
    <!-- Element Plus -->
    <link href="https://cdn.jsdelivr.net/npm/element-plus@2.7.3/dist/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/element-plus@2.7.3/dist/index.full.min.js"></script>
    <!-- Vant -->
    <link href="https://cdn.jsdelivr.net/npm/vant@4.7.3/dist/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vant@4.7.3/dist/vant.min.js"></script>
    <!-- ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <% } %>
  </body>
</html>
