.chapter-list-box{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chapter-list-box.block{
    display: block;
}

@media only screen and (min-width: 1200px) {
    .chapter-list-box {
        margin: 6rem auto;
        padding: 0 6rem;
        grid-template-columns: repeat(auto-fill, 16rem);
        grid-gap: 3rem 3rem;

        &-item {
            line-height: 14rem;
            border-radius: 1.4rem;
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .chapter-list-box {
        margin: 4rem auto;
        padding: 0 4rem;
        grid-template-columns: repeat(auto-fill, 12rem);
        grid-gap: 2rem 2rem;

        &-item {
            line-height: 10rem;
            border-radius: 1.2rem;
            font-size: 1.6rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    .chapter-list-box {
        margin: 2rem auto;
        padding: 0 2rem;
        grid-template-columns: repeat(auto-fill, 8rem);
        grid-gap: 1.6rem 1rem;

        &-item {
            line-height: 7rem;
            border-radius: 1rem;
            font-size: 1.4rem;
        }
    }
}

