.flex-space-around{
    display: flex;
    justify-content: space-around;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.width-200-posted{
    width: 200px;
}