body {
	scrollbar-3dlight-color: #d4d0c8; /*- 最外左 -*/
	scrollbar-highlight-color: #fff; /*- 左二 -*/
	scrollbar-face-color: #e4e4e4; /*- 面子 -*/
	scrollbar-arrow-color: #666; /*- 箭头 -*/
	scrollbar-shadow-color: #808080; /*- 右二 -*/
	scrollbar-darkshadow-color: #d7dce0; /*- 右一 -*/
	scrollbar-base-color: #d7dce0; /*- 基色 -*/
	scrollbar-track-color: #fff; /*- 滑道 -*/
}
