.dialog-footer {
	.btn-box {
		display: flex;
		justify-content: flex-end;
	}
}

.top {
	margin: 1rem auto;
}

.search-input {
	max-width: 100vw;
}

@media only screen and (min-width: 1200px) {
    .top {
		width: 100rem;
	}
	.chapter-setting-box {
		width: 100rem;
		margin: 0rem auto;
	}
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .top {
		width: 90rem;
	}
	.chapter-setting-box {
		width: 90rem;
		margin: 0rem auto;
	}
}

@media only screen and (max-width: 767px) {
    .top {
		width: 90rem;
	}
	.chapter-setting-box {
		width: 90rem;
		margin: 0rem auto;
	}
}
